@{
    var appointment = ViewBag.Appointment;
}
<h1>Appointment: @appointment.Id</h1>
<div class="hstack">
    <div class="vstack" style="flex: 0.8;">
        <div class="hstack">
            <div>@appointment.AppointmentDate</div>
            <button class="ms-2">Reschedule</button>
        </div>
        <div class="hstack">
            <div>Status: @appointment.Status</div>
            <button class="ms-2">Change</button>
        </div>
        <div class="hstack">Pet: @appointment.Pet.Name</div>
        <div class="hstack">
            <div>Staff: @appointment.Staff.LastName, @appointment.Staff.FirstName</div>
            <button class="ms-2">Reassign</button>
        </div>
        <div class="hstack">Treatment: @appointment.Treatment.Name</div>
    </div>
    <div class="vstack" style="flex: 0.2;">
        <textarea>@appointment.Notes</textarea>
        <button class="ms-2 w-50">Save</button>
    </div>
</div>
