@model Appointment

<h1>Appointment: @Model.Id</h1>
<div class="hstack">
    <div class="vstack" style="flex: 0.8;">
        <div class="hstack">
            <div>@Model.AppointmentDate</div>
            <button class="ms-2">Reschedule</button>
        </div>
        <div class="hstack">
            <div>Status: @Model.Status</div>
            <button class="ms-2">Change</button>
        </div>
        <div class="hstack">Pet: @Model.PetView.Name</div>
        <div class="hstack">
            <div>Staff: @Model.Staff.LastName, @Model.Staff.FirstName</div>
            <button class="ms-2">Reassign</button>
        </div>
        <div class="hstack">Treatment: @Model.Treatment.Name</div>
    </div>
    <div class="vstack" style="flex: 0.2;">
        <textarea>@Model.Notes</textarea>
        <button class="ms-2 w-50">Save</button>
    </div>
</div>
